@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/800.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/900.ttf') format('truetype');
}
@font-face {
   font-family: 'Orbitron';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Orbitron/regular.ttf') format('truetype');
}
