@font-face {
   font-family: 'Krona One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///E:/Desktop/RC%20Website//fonts/Krona One/regular.ttf') format('truetype');
}
