/*------------------------
	icons
-------------------------*/
@function unicode($str) {
  @return unquote("\"\\#{$str}\"");
}

$glimpsicon-organic: unicode(ea02);
$glimpsicon-plant-ground: unicode(ea03);
$glimpsicon-leaf: unicode(ea04);
$glimpsicon-leaf-38: unicode(ea05);
$glimpsicon-eco-home: unicode(ea06);
$glimpsicon-drop: unicode(ea07);
$glimpsicon-plant-ground-2: unicode(ea08);
$glimpsicon-dna-38: unicode(ea09);
$glimpsicon-dna-38-2: unicode(ea0a);
$glimpsicon-flower-07: unicode(ea0b);
$glimpsicon-box-3d-50: unicode(ea0c);
$glimpsicon-box-3d-67: unicode(ea0d);
$glimpsicon-box: unicode(ea0e);
$glimpsicon-box-2: unicode(ea0f);
$glimpsicon-track-delivery: unicode(ea10);
$glimpsicon-track-delivery-2: unicode(ea11);
$glimpsicon-box-2-2: unicode(ea12);
$glimpsicon-tags-stack: unicode(ea13);
$glimpsicon-tags-stack-2: unicode(ea14);
$glimpsicon-shopping-tag: unicode(ea15);
$glimpsicon-jam: unicode(ea16);
$glimpsicon-oil-2: unicode(ea17);
$glimpsicon-soy-sauce: unicode(ea18);
$glimpsicon-wine-list: unicode(ea19);
$glimpsicon-electronic-circuit: unicode(ea1a);
$glimpsicon-wind-2: unicode(ea1b);
$glimpsicon-layout-11: unicode(ea1c);
$glimpsicon-speedometer: unicode(ea1d);
$glimpsicon-layout-11-2: unicode(ea1e);
$glimpsicon-scissors: unicode(ea1f);
$glimpsicon-scissors-2: unicode(ea20);
$glimpsicon-scissors-3: unicode(ea21);
$glimpsicon-ic_content_cut_48px: unicode(ea22);
$glimpsicon-chart-bar: unicode(ea23);
$glimpsicon-chart-pie: unicode(ea24);
$glimpsicon-award: unicode(ea25);
$glimpsicon-podium-trophy: unicode(ea26);
$glimpsicon-podium: unicode(ea27);
$glimpsicon-cockade: unicode(ea28);
$glimpsicon-podium-2: unicode(ea29);
$glimpsicon-food-scale: unicode(ea2a);
$glimpsicon-food-scale-2: unicode(ea2b);
$glimpsicon-food-scale-3: unicode(ea2c);
$glimpsicon-scale-3: unicode(ea2d);
$glimpsicon-ban: unicode(ea2e);
$glimpsicon-ban-2: unicode(ea2f);
$glimpsicon-ban-3: unicode(ea30);
$glimpsicon-lock: unicode(ea31);
$glimpsicon-sign-closed: unicode(ea32);
$glimpsicon-padlock: unicode(ea33);
$glimpsicon-padlock-unlocked: unicode(ea34);
$glimpsicon-padlock-2: unicode(ea35);
$glimpsicon-padlock-unlocked-2: unicode(ea36);
$glimpsicon-sign-closed-2: unicode(ea37);
$glimpsicon-directions: unicode(ea38);
$glimpsicon-sign-open: unicode(ea39);
$glimpsicon-sign-open-2: unicode(ea3a);
$glimpsicon-delivery: unicode(ea3b);
$glimpsicon-delivery-2: unicode(ea3c);
$glimpsicon-delivery-3: unicode(ea3d);
$glimpsicon-check-single: unicode(ea3e);
$glimpsicon-check-single-2: unicode(ea3f);
$glimpsicon-check-double: unicode(ea40);
$glimpsicon-check-double-2: unicode(ea41);
$glimpsicon-c-warning: unicode(ea42);
$glimpsicon-t-warning: unicode(ea43);
$glimpsicon-s-warning: unicode(ea44);
$glimpsicon-t-warning-2: unicode(ea45);
$glimpsicon-s-warning-2: unicode(ea46);
$glimpsicon-c-warning-2: unicode(ea47);
$glimpsicon-refresh-02: unicode(ea48);
$glimpsicon-refresh-02-2: unicode(ea49);
$glimpsicon-calendar-date-2: unicode(ea4a);
$glimpsicon-calendar-date-2-2: unicode(ea4b);
$glimpsicon-tree-01: unicode(ea4c);
$glimpsicon-plant-vase: unicode(ea4d);
$glimpsicon-plant-vase-2: unicode(ea4e);
$glimpsicon-flower-07-2: unicode(ea4f);
$glimpsicon-box-3d-67-2: unicode(ea50);
$glimpsicon-dna-38-3: unicode(ea51);
$glimpsicon-circle-02: unicode(ea54);
$glimpsicon-plant-leaf: unicode(ea55);
$glimpsicon-plant-leaf-2: unicode(ea56);
$glimpsicon-organic-2: unicode(ea57);
$glimpsicon-organic-2-2: unicode(ea58);
$glimpsicon-leaf-38-2: unicode(ea59);
$glimpsicon-glasses: unicode(ea5a);
$glimpsicon-bin: unicode(ea5b);
$glimpsicon-bin-2: unicode(ea5c);
$glimpsicon-trash: unicode(ea5d);
$glimpsicon-trash-2: unicode(ea5e);
$glimpsicon-data-download: unicode(ea5f);
$glimpsicon-data-download-2: unicode(ea60);
$glimpsicon-direction-e: unicode(ea61);
$glimpsicon-arrow-right: unicode(ea62);
$glimpsicon-share-right: unicode(ea63);
$glimpsicon-corner-right-round: unicode(ea64);
$glimpsicon-redo-26: unicode(ea65);
$glimpsicon-plant-leaf-2-2: unicode(ea66);
$glimpsicon-corner-right-round-2: unicode(ea67);
$glimpsicon-redo-26-2: unicode(ea68);
$glimpsicon-spa: unicode(ea69);
$glimpsicon-flower-07-3: unicode(ea6a);
$glimpsicon-measuring-cup: unicode(ea6b);
$glimpsicon-d-add: unicode(ea6c);
$glimpsicon-t-add: unicode(ea6d);
$glimpsicon-e-add: unicode(ea6e);
$glimpsicon-c-add: unicode(ea6f);
$glimpsicon-e-add-2: unicode(ea70);
$glimpsicon-t-add-2: unicode(ea71);
$glimpsicon-f-check: unicode(ea72);
$glimpsicon-folder-download: unicode(ea73);
$glimpsicon-archive-3d-check: unicode(ea74);
$glimpsicon-automated-logistics: unicode(ea75);
$glimpsicon-robotic-arm: unicode(ea76);
$glimpsicon-label: unicode(ea77);
$glimpsicon-shopping-tag-2: unicode(ea78);
$glimpsicon-wine-list-2: unicode(ea79);
$glimpsicon-wine-list-3: unicode(ea7a);
$glimpsicon-distance: unicode(ea7b);
$glimpsicon-distance-2: unicode(ea7c);
$glimpsicon-position-pin: unicode(ea7d);
$glimpsicon-circle-in: unicode(ea7e);
$glimpsicon-circle-in-2: unicode(ea7f);
$glimpsicon-at-sign: unicode(ea80);
$glimpsicon-at-sign-2: unicode(ea81);
$glimpsicon-access-key: unicode(ea82);
$glimpsicon-key: unicode(ea83);
$glimpsicon-key-2: unicode(ea84);
$glimpsicon-single-03: unicode(ea85);
$glimpsicon-single-03-2: unicode(ea86);
$glimpsicon-circle-08: unicode(ea87);
$glimpsicon-gym: unicode(ea88);
$glimpsicon-new-construction: unicode(ea89);
$glimpsicon-office: unicode(ea8a);
$glimpsicon-circle-out: unicode(ea8b);
$glimpsicon-circle-out-2: unicode(ea8c);
$glimpsicon-cart-speed: unicode(ea8d);
$glimpsicon-shopping-cart-2: unicode(ea8e);
$glimpsicon-cart-speed-2: unicode(ea8f);
$glimpsicon-shopping-cart-2-2: unicode(ea90);
$glimpsicon-money-coins: unicode(ea91);
$glimpsicon-money-growth: unicode(ea92);
$glimpsicon-cash-register: unicode(ea93);

.glimpsicon-organic::before {
  content: $glimpsicon-organic;
}

.glimpsicon-plant-ground::before {
  content: $glimpsicon-plant-ground;
}

.glimpsicon-leaf::before {
  content: $glimpsicon-leaf;
}

.glimpsicon-leaf-38::before {
  content: $glimpsicon-leaf-38;
}

.glimpsicon-eco-home::before {
  content: $glimpsicon-eco-home;
}

.glimpsicon-drop::before {
  content: $glimpsicon-drop;
}

.glimpsicon-plant-ground-2::before {
  content: $glimpsicon-plant-ground-2;
}

.glimpsicon-dna-38::before {
  content: $glimpsicon-dna-38;
}

.glimpsicon-dna-38-2::before {
  content: $glimpsicon-dna-38-2;
}

.glimpsicon-flower-07::before {
  content: $glimpsicon-flower-07;
}

.glimpsicon-box-3d-50::before {
  content: $glimpsicon-box-3d-50;
}

.glimpsicon-box-3d-67::before {
  content: $glimpsicon-box-3d-67;
}

.glimpsicon-box::before {
  content: $glimpsicon-box;
}

.glimpsicon-box-2::before {
  content: $glimpsicon-box-2;
}

.glimpsicon-track-delivery::before {
  content: $glimpsicon-track-delivery;
}

.glimpsicon-track-delivery-2::before {
  content: $glimpsicon-track-delivery-2;
}

.glimpsicon-box-2-2::before {
  content: $glimpsicon-box-2-2;
}

.glimpsicon-tags-stack::before {
  content: $glimpsicon-tags-stack;
}

.glimpsicon-tags-stack-2::before {
  content: $glimpsicon-tags-stack-2;
}

.glimpsicon-shopping-tag::before {
  content: $glimpsicon-shopping-tag;
}

.glimpsicon-jam::before {
  content: $glimpsicon-jam;
}

.glimpsicon-oil-2::before {
  content: $glimpsicon-oil-2;
}

.glimpsicon-soy-sauce::before {
  content: $glimpsicon-soy-sauce;
}

.glimpsicon-wine-list::before {
  content: $glimpsicon-wine-list;
}

.glimpsicon-electronic-circuit::before {
  content: $glimpsicon-electronic-circuit;
}

.glimpsicon-wind-2::before {
  content: $glimpsicon-wind-2;
}

.glimpsicon-layout-11::before {
  content: $glimpsicon-layout-11;
}

.glimpsicon-speedometer::before {
  content: $glimpsicon-speedometer;
}

.glimpsicon-layout-11-2::before {
  content: $glimpsicon-layout-11-2;
}

.glimpsicon-scissors::before {
  content: $glimpsicon-scissors;
}

.glimpsicon-scissors-2::before {
  content: $glimpsicon-scissors-2;
}

.glimpsicon-scissors-3::before {
  content: $glimpsicon-scissors-3;
}

.glimpsicon-ic_content_cut_48px::before {
  content: $glimpsicon-ic_content_cut_48px;
}

.glimpsicon-chart-bar::before {
  content: $glimpsicon-chart-bar;
}

.glimpsicon-chart-pie::before {
  content: $glimpsicon-chart-pie;
}

.glimpsicon-award::before {
  content: $glimpsicon-award;
}

.glimpsicon-podium-trophy::before {
  content: $glimpsicon-podium-trophy;
}

.glimpsicon-podium::before {
  content: $glimpsicon-podium;
}

.glimpsicon-cockade::before {
  content: $glimpsicon-cockade;
}

.glimpsicon-podium-2::before {
  content: $glimpsicon-podium-2;
}

.glimpsicon-food-scale::before {
  content: $glimpsicon-food-scale;
}

.glimpsicon-food-scale-2::before {
  content: $glimpsicon-food-scale-2;
}

.glimpsicon-food-scale-3::before {
  content: $glimpsicon-food-scale-3;
}

.glimpsicon-scale-3::before {
  content: $glimpsicon-scale-3;
}

.glimpsicon-ban::before {
  content: $glimpsicon-ban;
}

.glimpsicon-ban-2::before {
  content: $glimpsicon-ban-2;
}

.glimpsicon-ban-3::before {
  content: $glimpsicon-ban-3;
}

.glimpsicon-lock::before {
  content: $glimpsicon-lock;
}

.glimpsicon-sign-closed::before {
  content: $glimpsicon-sign-closed;
}

.glimpsicon-padlock::before {
  content: $glimpsicon-padlock;
}

.glimpsicon-padlock-unlocked::before {
  content: $glimpsicon-padlock-unlocked;
}

.glimpsicon-padlock-2::before {
  content: $glimpsicon-padlock-2;
}

.glimpsicon-padlock-unlocked-2::before {
  content: $glimpsicon-padlock-unlocked-2;
}

.glimpsicon-sign-closed-2::before {
  content: $glimpsicon-sign-closed-2;
}

.glimpsicon-directions::before {
  content: $glimpsicon-directions;
}

.glimpsicon-sign-open::before {
  content: $glimpsicon-sign-open;
}

.glimpsicon-sign-open-2::before {
  content: $glimpsicon-sign-open-2;
}

.glimpsicon-delivery::before {
  content: $glimpsicon-delivery;
}

.glimpsicon-delivery-2::before {
  content: $glimpsicon-delivery-2;
}

.glimpsicon-delivery-3::before {
  content: $glimpsicon-delivery-3;
}

.glimpsicon-check-single::before {
  content: $glimpsicon-check-single;
}

.glimpsicon-check-single-2::before {
  content: $glimpsicon-check-single-2;
}

.glimpsicon-check-double::before {
  content: $glimpsicon-check-double;
}

.glimpsicon-check-double-2::before {
  content: $glimpsicon-check-double-2;
}

.glimpsicon-c-warning::before {
  content: $glimpsicon-c-warning;
}

.glimpsicon-t-warning::before {
  content: $glimpsicon-t-warning;
}

.glimpsicon-s-warning::before {
  content: $glimpsicon-s-warning;
}

.glimpsicon-t-warning-2::before {
  content: $glimpsicon-t-warning-2;
}

.glimpsicon-s-warning-2::before {
  content: $glimpsicon-s-warning-2;
}

.glimpsicon-c-warning-2::before {
  content: $glimpsicon-c-warning-2;
}

.glimpsicon-refresh-02::before {
  content: $glimpsicon-refresh-02;
}

.glimpsicon-refresh-02-2::before {
  content: $glimpsicon-refresh-02-2;
}

.glimpsicon-calendar-date-2::before {
  content: $glimpsicon-calendar-date-2;
}

.glimpsicon-calendar-date-2-2::before {
  content: $glimpsicon-calendar-date-2-2;
}

.glimpsicon-tree-01::before {
  content: $glimpsicon-tree-01;
}

.glimpsicon-plant-vase::before {
  content: $glimpsicon-plant-vase;
}

.glimpsicon-plant-vase-2::before {
  content: $glimpsicon-plant-vase-2;
}

.glimpsicon-flower-07-2::before {
  content: $glimpsicon-flower-07-2;
}

.glimpsicon-box-3d-67-2::before {
  content: $glimpsicon-box-3d-67-2;
}

.glimpsicon-dna-38-3::before {
  content: $glimpsicon-dna-38-3;
}

.glimpsicon-circle-02::before {
  content: $glimpsicon-circle-02;
}

.glimpsicon-plant-leaf::before {
  content: $glimpsicon-plant-leaf;
}

.glimpsicon-plant-leaf-2::before {
  content: $glimpsicon-plant-leaf-2;
}

.glimpsicon-organic-2::before {
  content: $glimpsicon-organic-2;
}

.glimpsicon-organic-2-2::before {
  content: $glimpsicon-organic-2-2;
}

.glimpsicon-leaf-38-2::before {
  content: $glimpsicon-leaf-38-2;
}

.glimpsicon-glasses::before {
  content: $glimpsicon-glasses;
}

.glimpsicon-bin::before {
  content: $glimpsicon-bin;
}

.glimpsicon-bin-2::before {
  content: $glimpsicon-bin-2;
}

.glimpsicon-trash::before {
  content: $glimpsicon-trash;
}

.glimpsicon-trash-2::before {
  content: $glimpsicon-trash-2;
}

.glimpsicon-data-download::before {
  content: $glimpsicon-data-download;
}

.glimpsicon-data-download-2::before {
  content: $glimpsicon-data-download-2;
}

.glimpsicon-direction-e::before {
  content: $glimpsicon-direction-e;
}

.glimpsicon-arrow-right::before {
  content: $glimpsicon-arrow-right;
}

.glimpsicon-share-right::before {
  content: $glimpsicon-share-right;
}

.glimpsicon-corner-right-round::before {
  content: $glimpsicon-corner-right-round;
}

.glimpsicon-redo-26::before {
  content: $glimpsicon-redo-26;
}

.glimpsicon-plant-leaf-2-2::before {
  content: $glimpsicon-plant-leaf-2-2;
}

.glimpsicon-corner-right-round-2::before {
  content: $glimpsicon-corner-right-round-2;
}

.glimpsicon-redo-26-2::before {
  content: $glimpsicon-redo-26-2;
}

.glimpsicon-spa::before {
  content: $glimpsicon-spa;
}

.glimpsicon-flower-07-3::before {
  content: $glimpsicon-flower-07-3;
}

.glimpsicon-measuring-cup::before {
  content: $glimpsicon-measuring-cup;
}

.glimpsicon-d-add::before {
  content: $glimpsicon-d-add;
}

.glimpsicon-t-add::before {
  content: $glimpsicon-t-add;
}

.glimpsicon-e-add::before {
  content: $glimpsicon-e-add;
}

.glimpsicon-c-add::before {
  content: $glimpsicon-c-add;
}

.glimpsicon-e-add-2::before {
  content: $glimpsicon-e-add-2;
}

.glimpsicon-t-add-2::before {
  content: $glimpsicon-t-add-2;
}

.glimpsicon-f-check::before {
  content: $glimpsicon-f-check;
}

.glimpsicon-folder-download::before {
  content: $glimpsicon-folder-download;
}

.glimpsicon-archive-3d-check::before {
  content: $glimpsicon-archive-3d-check;
}

.glimpsicon-automated-logistics::before {
  content: $glimpsicon-automated-logistics;
}

.glimpsicon-robotic-arm::before {
  content: $glimpsicon-robotic-arm;
}

.glimpsicon-label::before {
  content: $glimpsicon-label;
}

.glimpsicon-shopping-tag-2::before {
  content: $glimpsicon-shopping-tag-2;
}

.glimpsicon-wine-list-2::before {
  content: $glimpsicon-wine-list-2;
}

.glimpsicon-wine-list-3::before {
  content: $glimpsicon-wine-list-3;
}

.glimpsicon-distance::before {
  content: $glimpsicon-distance;
}

.glimpsicon-distance-2::before {
  content: $glimpsicon-distance-2;
}

.glimpsicon-position-pin::before {
  content: $glimpsicon-position-pin;
}

.glimpsicon-circle-in::before {
  content: $glimpsicon-circle-in;
}

.glimpsicon-circle-in-2::before {
  content: $glimpsicon-circle-in-2;
}

.glimpsicon-at-sign::before {
  content: $glimpsicon-at-sign;
}

.glimpsicon-at-sign-2::before {
  content: $glimpsicon-at-sign-2;
}

.glimpsicon-access-key::before {
  content: $glimpsicon-access-key;
}

.glimpsicon-key::before {
  content: $glimpsicon-key;
}

.glimpsicon-key-2::before {
  content: $glimpsicon-key-2;
}

.glimpsicon-single-03::before {
  content: $glimpsicon-single-03;
}

.glimpsicon-single-03-2::before {
  content: $glimpsicon-single-03-2;
}

.glimpsicon-circle-08::before {
  content: $glimpsicon-circle-08;
}

.glimpsicon-gym::before {
  content: $glimpsicon-gym;
}

.glimpsicon-new-construction::before {
  content: $glimpsicon-new-construction;
}

.glimpsicon-office::before {
  content: $glimpsicon-office;
}

.glimpsicon-circle-out::before {
  content: $glimpsicon-circle-out;
}

.glimpsicon-circle-out-2::before {
  content: $glimpsicon-circle-out-2;
}

.glimpsicon-cart-speed::before {
  content: $glimpsicon-cart-speed;
}

.glimpsicon-shopping-cart-2::before {
  content: $glimpsicon-shopping-cart-2;
}

.glimpsicon-cart-speed-2::before {
  content: $glimpsicon-cart-speed-2;
}

.glimpsicon-shopping-cart-2-2::before {
  content: $glimpsicon-shopping-cart-2-2;
}

.glimpsicon-money-coins::before {
  content: $glimpsicon-money-coins;
}

.glimpsicon-money-growth::before {
  content: $glimpsicon-money-growth;
}

.glimpsicon-cash-register::before {
  content: $glimpsicon-cash-register;
}

